# 复制为 .env.trial 后修改邀请码即可；本示例文件可提交仓库
VITE_TRIAL_MODE=true
VITE_TRIAL_TARGET=ios-trial
VITE_TRIAL_CODE=XINGCE-5-SHIYONG
VITE_TRIAL_DAYS=5
VITE_TRIAL_START=2026-09-19T00:00:00+08:00
VITE_TRIAL_EXPIRES=2026-09-23T23:59:59+08:00
